@{
    ViewData["Title"] = "Nhập thông tin";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@using (Html.BeginForm("InsertData", "Home"))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Nhập Họ Tên</label>
                <input type="text" name="HoTen" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Nhập SDT</label>
                <input type="number" name="SoDienThoai" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Nhập Email</label>
                <input type="text" name="Email" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Nhập Địa Chỉ</label>
                <input type="text" name="DiaChi" value="" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <input type="submit" value="Gửi" class="btn btn-primary text-center" />
        <input type="button" value="Thêm thông tin" class="btn btn-info text-center" />
    </div>
}
