@{
    ViewData["Title"] = "Nhập thông tin";
}

<div class="text-center">
    <h1 class="display-4">住民票入力画面</h1>
</div>
@using (Html.BeginForm("InsertData", "Home"))
{
    <div class="row" id="main">
        <div class="col-md-12">
            <div class="form-group">
                <label>1. 申請する方の住所（市町、番地）<span class="text-danger">（必須）</span></label> <i data-toggle="collapse" data-target="#collapseExample1" aria-expanded="true" aria-controls="collapseExample1" class="d-inline-block d-sm-none fa fa-question-circle"></i> <br />
                <div class="collapse show" id="collapseExample1">
                    <label>※不足分は追加入力してください。</label> <br />
                    <label>（<span class="text-danger">必須</span>）</label> <br />
                    <label>郵便番号（ハイフンを含めての入力も可能です）</label> <br />
                    <label> 例:0000000 または 000-0000</label> <br />
                </div>

                <div class="form-inline">
                    <input type="text" name="HoTen" value="" required class="form-control" />
                    <input type="button" name="name" class="btn btn-light" value="住所検索" />
                </div>
                <label>住所 </label>
                <input type="text" name="HoTen" value="" required class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>2.申請する方の住所（方書）</label> <br />
                <label>※アパート名・部屋番号等、正確に入力してください （100文字以内）</label>
                <input type="text" name="SoDienThoai" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    3.申請する方の氏名・ふりがな （<span class="text-danger">必須</span>、100文字以内）
                </label> <br />
                <label>氏名</label>
                <input type="text" name="SoDienThoai" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    4.申請する方の生年月日
                </label> <br />
                <label>※下記の例のように和暦でご記入ください。</label> <br />
                <label>記入例：令和1年1月1日 （<span class="text-danger">必須</span>、100文字以内）</label>
                <input type="text" name="SoDienThoai" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    5.申請する方の電話番号
                </label> <br />
                <label>例 0584531111 （<span class="text-danger">必須</span>、100文字以内）</label>
                <input type="text" name="SoDienThoai" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    6.ご入力いただいた電話番号のつながる先
                </label> <br />
                <label>※確認の連絡をさせていただく場合がありますので</label> <br />
                <label>8時30分～16時00分の間に連絡のつく連絡先を、必ず入力してください。 （<span class="text-danger">必須</span>）</label>
                <select>
                    <option value="1" selected="1">自宅</option>
                    <option value="2">勤務先</option>
                    <option value="3">呼出</option>
                    <option value="4">携帯電話</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    7.申請する方のメールアドレス （<span class="text-danger">必須</span>）
                </label> <br />
                <label>「example@example.jp」というように英数記号を半角文字で入力してください。</label>
                <input type="text" name="SoDienThoai" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    8.どなたの住民票をご希望でしょうか？
                </label> <br />
                <label>下記の選択肢から選択してください。</label> <br />
                <label>※ 世帯の一部の住民票　を選択された場合は、該当者の氏名・生年月日1～5に必要な方の情報を入力してください。</label> <br />
                <label>※ 5人以上の場合は、新たに入力していただくか電話にてお申し込みください。（0584-53-1114） （<span class="text-danger">必須</span>）</label>
                <select>
                    <option value="1" selected="1">本人の住民票</option>
                    <option value="2">世帯の一部（個人）の住民票</option>
                    <option value="3">世帯の一部（連名）の住民票</option>
                    <option value="4">世帯全員の住民票</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    9.該当者の氏名・生年月日1 （100文字以内）
                </label> <br />
                <label>氏名</label>
                <input type="text" name="氏名" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    10.該当者の氏名・生年月日2 （100文字以内）
                </label> <br />
                <label>氏名</label>
                <input type="text" name="氏名" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    11.該当者の氏名・生年月日3 （100文字以内）
                </label> <br />
                <label>氏名</label>
                <input type="text" name="氏名" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    12.該当者の氏名・生年月日4 （100文字以内）
                </label> <br />
                <label>氏名</label>
                <input type="text" name="氏名" value="" class="form-control" />
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label>
                    13.該当者の氏名・生年月日5 （100文字以内）
                </label> <br />
                <label>氏名</label>
                <input type="text" name="氏名" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    14.使用目的 （必須）
                </label> <br />
                <select>
                    <option value="1" selected="1">免許</option>
                    <option value="2">車の登録・廃棄</option>
                    <option value="3">年金手続</option>
                    <option value="4">その他</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    15.使用目的で その他 を選択された方、または選択された理由以外にも使用される場合は、下記に入力してください。
                </label> <br />
                <label>（できるだけ具体的に入力願います） （200文字以内）</label>
                <input type="text" name="氏名" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    16.必要通数
                </label> <br />
                <label>※下記の例のようにご記入ください。</label> <br />
                <label>例：2通 （<span class="text-danger">必須</span>、100文字以内）</label>
                <input type="text" name="氏名" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    17.必要項目1
                </label> <br />
                <label>免許：本籍</label> <br />
                <label>車の登録・廃棄：不要</label> <br />
                <label>年金手続：本籍および続柄 （2個以内）</label> <br />
                <input type="checkbox" name="17_1[]" value="1" id="id17_1"><label for="id17_1">本籍</label>
                <input type="checkbox" name="17_1[]" value="2" id="id17_2"><label for="id17_2">続柄</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    18.必要項目2
                </label> <br />
                <label>※提出先からマイナンバー入り住民票を求められている場合のみチェックしてください （1個以内)</label> <br />
                <input type="checkbox" name="18_1[]" value="1" id="id18_1"><label for="id18_1">マイナンバー</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    19.申請する方と必要な方との関係
                </label> <br />
                <label>※申請する方は、本人もしくは同一世帯の親族に限ります。 （<span class="text-danger">必須</span>）</label> <br />
                <select>
                    <option value="1" selected="1">免許</option>
                    <option value="2">車の登録・廃棄</option>
                    <option value="3">年金手続</option>
                    <option value="4">その他</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    20.受け取りに来られる方との関係
                </label> <br />
                <label>※受け取りは、本人もしくは同一世帯の親族に限ります。 （<span class="text-danger">必須</span>）</label> <br />
                <select>
                    <option value="1" selected="1">免許</option>
                    <option value="2">車の登録・廃棄</option>
                    <option value="3">年金手続</option>
                    <option value="4">その他</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    21.受け取りに来られる方の氏名・生年月日 （<span class="text-danger">必須</span>、100文字以内）
                </label> <br />
                <label>氏名</label>
                <input type="text" name="氏名" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    22.受取希望日
                </label> <br />
                <label>
                    ※受取希望日は入力した日の最初の日曜日までとなります。
                </label> <br />
                <label>※入力日が金曜日の16時00分～日曜日の24時00分の場合は、最初の月曜日（月曜日が祝・休日の場合は火曜日）から次の日曜日までが受取希望日となります。</label> <br />
                <label>※予約当日の受取を希望される場合は、市役所開庁日の16時までに予約してください。</label> <br />
                <label>※希望日は複数記入しないでください。</label> <br />
                <label>※受取希望日は下記の例のように入力してください。 </label> <br />
                <label>例：1月1日 （<span class="text-danger">必須</span>、100文字以内） </label> <br />
                <input type="text" name="氏名" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    23.受取時間
                </label> <br />
                <label>
                    ※下記の例のように24時間表記で入力してください。
                </label> <br />
                <label>例：19時30分</label> <br />
                <label>※平日は 17時30分～20時00分、休日は 8時30分～20時00分の間で入力してください。</label> <br />
                <label>（<span class="text-danger">必須</span>、100文字以内）</label> <br />
                <input type="text" name="氏名" value="" class="form-control" />
            </div>
        </div>
    </div>
    <div id="demo-form"></div>
    <div class="row">
        <div class="g-recaptcha" data-sitekey="6LcaDOEcAAAAAMMMjj-8-BQorfN6X5DJIScfRuFz"></div>
        <input class="g-recaptcha" value="確認" data-sitekey="6LcaDOEcAAAAAMMMjj-8-BQorfN6X5DJIScfRuFz" data-callback='onSubmit' data-action='submit' />
        <input type="button" value="取消" class="btn btn-info text-center" />
    </div>
}

<script>
    function onSubmit(token) {
        document.getElementById("demo-form").submit();
    }
</script>

